= content_for :content_title do
  .dropdown
    .dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      Skills
      %span.caret
    %ul.dropdown-menu
      %li
        %a{ href: new_admin_skill_path}
          %i.fa.fa-plus-square
          New Skill

.box.box-primary
  .box-header.with-border
    %h3.box-title Skills
    .box-tools
      = render partial: 'shared/table_search'
  .box-body
    .box-body.table-response
      %table.table
        %thead
          %tr
            %th Name
            %th Description
            %th With skill
            %th Need training
        %tbody
          = render @skills
    .box-footer
      = paginate @skills, window: 3
