.box
  .box-header.with-border
    %h3.box-title Skills
    = render partial: 'shared/table_search'
  .box-body.table-response
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Type
          / %th Description
          %th Expertise
      %tbody
        = render skills
  .box-footer
    = paginate skills, window: 3
