.box
  .box-header.with-border
    %h3.box-title Skills
  .box-body.table-response
    %table.table
      %thead
        %tr
          %th Name
          %th Type
          %th Description
          %th
      %tbody
        = render skills
