
.box
  .box-header.with-border
    %h3.box-title All Skills
  .box-body.table-response.no-padding
    %table.table
      %thead
        %tr
          %th Name
          %th Type
          %th Description
          %th
      %tbody
        = render @skills
