- content_for :content_header do
  %h1
    Recent skills
    %small added since you last signed in

- if ! @skills.blank?
  = render partial: 'skills_table', locals:{ skills: @skills }
- else
  %p No new skills have been added
