- content_for :content_title do
  Newly added skills
- content_for :content_subtitle do
  added since you last signed in

- if ! @skills.blank?
  = render partial: 'skills_table', locals:{ skills: @skills }
- else
  %p No new skills have been added
