- content_for :content_title do
  Your skills
- content_for :content_subtitle do
  all the skills you claim

- if ! @skills.blank?
  = render partial: 'skills_table', locals:{ skills: @skills }
- else
  %p
    You have not added any skills,
    = link_to 'add some now', skills_path
