%p SkillsMatrix: a new user has registered

%p
  Hello,

%p
  = @new_user.name
  has created a SkillsMatrix account. Please visit the
  = link_to 'teams page', admin_teams_url
  to assign them to one or more teams.
