/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require AdminLTE/bootstrap/css/bootstrap
 *= require AdminLTE
 *= require AdminLTE/dist/css/skins/skin-blue.css
 *= require bootstrap-slider
*= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

.btn-fill {
  width: 100%;
  max-width: 150px;
}

@supports not (writing-mode:vertical-rl) {
    table div.rotated {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        white-space: nowrap;
    }
}

.rotated{
  -webkit-writing-mode:vertical-rl;
  -ms-writing-mode:tb-rl;
  writing-mode:vertical-rl;
  -webkit-transform: rotate(180deg) translate(8px,0px);
  -moz-transform: rotate(180deg) translate(8px,0px);
white-space: nowrap;
}
