- content_for :content_title do
  Staff

.box.box-primary
  .box-header.with-border
    %h3.box-title Staff list
    = render partial: 'shared/table_search'
  .box-body
    .box-body.table-response
      %table.table
        %thead
          %tr
            %th Name
            %th.hidden-xs Admin
            %th Leads
            %th.hidden-xs Skills
            %th.hidden-xs Training need
            %th Member
        %tbody
          = render @users
    .box-footer
      = paginate @users, window: 3
