- content_for :content_title do
  Staff

.box.box-primary
  .box-header.with-border
    %h3.box-title Staff list
  .box-body
    .box-body.table-response
      %table.table
        %thead
          %tr
            %th Name
            %th Skills
            %th Training need
            %th Teams
        %tbody
          = render @users
