- content_for :content_title do
  Teams

.box.box-primary
  .box-header.with-border
    %h3.box-title Teams
    .box-tools
      = link_to 'New team', new_admin_team_path, class: 'btn btn-sm btn-primary'
  .box-body
    .box-body.table-response
      %table.table
        %thead
          %tr
            %th Name
            %th Members
            %th Skills
        %tbody
          = render @teams
