- content_for :content_title do
  .dropdown
    .dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      Teams
      %span.caret
    %ul.dropdown-menu
      %li
        %a{ href: new_admin_team_path }
          %i.fa.fa-plus-square
          New Team

.box.box-primary
  .box-header.with-border
    %h3.box-title Teams
  .box-body
    .box-body.table-response
      %table.table
        %thead
          %tr
            %th Name
            %th Leader
            %th Members
            %th Skills
        %tbody
          = render @teams
    .box-footer
      = paginate @teams, window: 3
